<main class="main">
  <!--<button mat-flat-button color="accent" (click)="onAddAssignmentBtnClick()">Ajouter Assignment</button>-->
  <div class="ajouterBtn">
    <a routerLink="/add">
      <button class="ajouterBtn" mat-flat-button color="accent">Ajouter Assignment</button>
    </a>
  </div>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>UE</mat-label>
    <mat-select>
      <mat-option *ngFor="let assignment of assignmentsSelect" [value]="assignment" (click)="assignementClique(assignment)">{{assignment}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="container">
    <div class="list-container">
      <div class="not-done-container column-container">
        <div class="list"
             cdkDropList
             #notDoneList="cdkDropList"
             [cdkDropListData]="assignmentsNotDone"
             [cdkDropListConnectedTo]="[doneList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Devoirs non rendus</h2>
          <mat-card *ngFor="let assignment of assignmentsNotDone" cdkDrag>
            <mat-card-title-group>
              <mat-card-title (click)="onEditVisible(assignment)">{{assignment.dateDeRendu}} - {{assignment.nom}}</mat-card-title>
              <mat-card-subtitle>
                {{assignment.ue}}<br/>
                Devoir de {{assignment.student.prenom}} {{assignment.student.nom}}<br/>
                {{assignment.student.classe}}
              </mat-card-subtitle>
              <!--<img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >-->
            </mat-card-title-group>
            <mat-card-content>
              <mat-list-item *ngIf="assignment.visible">
                <div *ngIf="!assignment.note || assignment.note.toString() == 'NaN'">
                  <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Note</mat-label>
                    <input matInput [formControl]="assignNote"/>
                  </mat-form-field><br/>
                  <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Remarque</mat-label>
                    <textarea matInput [formControl]="assignRemarque"></textarea>
                  </mat-form-field><br/><br/>
                  <button mat-raised-button color="primary" (click)="editAssignment(assignment)">Noter !</button>
                </div>
                <div *ngIf="assignment.note && assignment.note.toString() != 'NaN'">
                  <label>Note : <strong>{{assignment.note}} / 20</strong></label><br/>
                  <label>Remarque : {{assignment.remarque}}</label><br/><br/>
                  <button mat-raised-button color="warn" (click)="deleteNote(assignment)">Réinitialiser la note</button>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-card-content>
          </mat-card>
          <div>
            <button class="pagination-button" mat-icon-button color="primary" [disabled]="page == 1 || page == null" (click)="backPage(false)">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button class="pagination-button" mat-icon-button color="primary" [disabled]="totalPages != null && page == totalPages" (click)="jumpPage(false)">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="done-container column-container">
        <div class="list"
             cdkDropList
             #doneList="cdkDropList"
             [cdkDropListData]="assignmentsDone"
             [cdkDropListConnectedTo]="[notDoneList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Devoirs rendus</h2>
          <mat-card *ngFor="let assignment of assignmentsDone" (click)="onEditVisible(assignment)" cdkDrag>
            <mat-card-title-group>
              <mat-card-title>{{assignment.dateDeRendu}} - {{assignment.nom}}</mat-card-title>
              <mat-card-subtitle>
                {{assignment.ue}}<br/>
                Devoir de {{assignment.student.prenom}} {{assignment.student.nom}}<br/>
                {{assignment.student.classe}}
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <mat-list-item *ngIf="assignment.visible">
                  <label>Note : <strong>{{assignment.note}} / 20</strong></label><br/>
                  <label>Remarque : {{assignment.remarque}}</label>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
