<!--<button mat-flat-button color="accent" (click)="backToListBtn()">Retour</button>-->
<div class="ajouterBtn">
  <a routerLink="/home">
    <button class="ajouterBtn" mat-flat-button color="accent">Retour</button>
  </a>
</div>

<mat-stepper orientation="vertical" #stepper>
  <mat-step [stepControl]="assignmentGroupForm">
    <form [formGroup]="assignmentGroupForm">
      <ng-template matStepLabel>Information Devoir</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nomAssignment" required>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill">
        <mat-label>UE</mat-label>
        <mat-select formControlName="ue">
          <mat-option *ngFor="let ue of assignmentsSelect" [value]="ue" (onSelectionChange)="setUeSelected(ue)">{{ue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="studentGroupForm">
    <form [formGroup]="studentGroupForm">
      <ng-template matStepLabel>Information Eléve</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Classe</mat-label>
        <mat-select formControlName="classe">
          <mat-option *ngFor="let classe of classes" [value]="classe" (onSelectionChange)="getStudentsFromClasse(classe)">{{classe}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill" *ngIf="students">
        <mat-label>Etudiants</mat-label>
        <mat-select formControlName="student">
          <mat-option *ngFor="let student of students" [value]="student" (click)="setStudentId(student)">{{student.nom + '' + student.prenom}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="onSubmit()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>C'est fait !</ng-template>
    <p>Le devoir a été enregistré.</p>
    <div>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
